<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <title>2Chit2Chat</title>
</head>
<header>
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo center">2Chit2Chat</a>
    </div>
  </nav>
</header>
<body>
  <main class="container join-main">
    <h3 class="grey-text text-darken-1">Login Form</h3>
    <blockquote class="grey-text text-darken-1">
      If you have registered,<br>
      Then please use the form below to login with your credentials.<br>
      Else use the Register button to create a login.<br>
      You will be able to choose a chat name after login.
    </blockquote>

      <div class="form-control">
        <form id="login-form" action="/login" method="POST">
          <div>
            <label for="email">Email</label>
            <input type="email" id="email-login" name="email" required>
          </div>
          
          <div>
            <label for="password">Password</label>
            <input type="password" id="password-login" name="password" required>
          </div>
          <button class="waves-effect waves-light btn" type="submit">Login</button>
        </form>
        
        <form action="/register" method="get">
        <button class="regBtn waves-effect waves-light btn" type="submit">Register</button>
        </form>
      </div>

  </main>
  <footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">About:</h5>
          <p class="grey-text text-lighten-4">Project two for the UofA/Trilogy Full Stack coding bootcamp.</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Devs</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="https://github.com/byoung01" target="_blank">byoung</a></li>
            <li><a class="grey-text text-lighten-3" href="https://github.com/Giselle556" target="_blank">giselle556</a></li>
            <li><a class="grey-text text-lighten-3" href="https://github.com/athaight" target="_blank">athaight</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        <p class="brand-logo center">2Chit2Chat</p>
      </div>
    </div>
  </footer>
<script src='/js/login.js'></script>
</body>
  </html>