<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <title>Lets Chat!</title>
</head>
<body>
  <h2>Login Form</h2>


  <div class="imgcontainer">
    <img src="https://pbs.twimg.com/profile_images/1049057742059712515/gZLecP-I.jpg" alt="Avatar" class="avatar">
  </div>
  <main class="join-main">
    <form action="./:room" method>
      <div class="form-control">
                    <!-- <label for="email">Email</label>
        <input
          type="text"
          name="email"
          id="email"
          placeholder="Enter email..."
          required
        /> -->
                
        <label for="username"><strong>User name</strong></label>
        <input
          type="text"
          name="user-name"
          id=" username"
          placeholder="Enter user..."
        />
        <label for="password"><strong>Password</strong></label>
        <input
          type="text"
          name="password"
          id="userPassword"
          placeholder="Enter password..."
        />
      </div>
      <button class="waves-effect waves-light btn" type="submit"><strong>Login</strong></button>
      <label>
        <input type="checkbox" checked="checked" name="remember"> Remember me
      </label>
    </div>
  </form>
  

  
  <p><strong>Not registered?</strong></p>
  <form>
    <!-- <input 
    id="signUpEmail"
    placeholder="gimme your email"> -->
    <input 
    id="signUpName"
    placeholder="Unique username...">
    <input 
    id="signUpPassword"
    placeholder="Choose a password...">
    <button class="waves-effect waves-light btn" type="submit" onclick="getInfo()">Sign up!</button>
  </form>
</body>
</html>