body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.chat-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.img-container img{
  width: 150px;
}

.joined {
  padding-left: 100px;
}

.regBtn {
  margin: 20px 20px 100px 0px;
}

#logout{
  margin-top: 12px;
  padding-right: 80px;
}

#loginBtn {
  margin-bottom: 20px;
}

#foot{
  position: absolute;
  bottom:0;
}

.page-footer {
  position: relative;
  margin-top: auto;
  bottom:0;
}

.room_join{
  font-weight: 100;
}

#signup-form {
  margin-top: 40px;
}

#room-container{ 
  display: flex;
  flex-direction: column;}
  
.message_box{
  height: auto;
  max-height: 400px;
  overflow-y: scroll;
}

#message-container div {
  background-color: rgb(207, 174, 174);
  padding: 5px;
}

#message-container div:nth-child(2n) {
  background-color: #FFF;
}

#send-container {
  flex-direction: row;
  justify-content: center;
  align-content: center;
  display: flex;
  margin: auto;
}

#message-input {
  flex-grow: 1;
}

#bigOleContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 80px;
}